<h1>New artwork</h1>

<% form_for(@artwork, :url => new_series_artwork_url,
                      :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :width %><br />
    <%= f.text_field :width %>
  </p>
  <p>
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </p>
  <p>
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.label 'Select an image file' %><br />
    <%= f.file_field :img_file %>
  </p>
  <p>
    <%= f.label :img_width %><br />
    <%= f.text_field :img_width %>
  </p>
  <p>
    <%= f.label :img_height %><br />
    <%= f.text_field :img_height %>
  </p>
  <p>
    <%= f.label 'Select a thumbnail file' %><br />
    <%= f.file_field :thumbnail_file %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', series_artworks_path(@series.id) %>