<p id="notice"><%= notice %></p>

<div id='container'>
  <div id="container-content">
    <div id="sidebar">
      <ul>
        <% @series_plural.reverse.each do |series| %>
          <li><%=h link_to series.name, :controller => :series, :id => series.id, :action => 'show' %></li>
        <% end %>
      </ul>
    </div>
    <div id="main">
      <div id="main-painting">
        <h1><%=h @series.name %>&nbsp;(<%= format_datespan %>)</h1>
        <div class="directionals"><%= conditional_prev_link %></div>
        <div class="directionals"><%= conditional_next_link %></div>
        <br>

        <%= image_tag(@artwork.image, :alt => @artwork.title, :size => format_size) %>

        <br>
        <div id="title"><%= @artwork.title %></div>

        (<div id="year"><%= @artwork.year.year.to_s %></div>,&nbsp;
        <div id="medium"><%= @artwork.medium %></div>,&nbsp;
        <div id="size"><%= format_dimension(@artwork.width) %>&quot;&nbsp;x&nbsp;<%= format_dimension(@artwork.height) %>&quot;</div>)
      </div>
    </div>
  </div>
</div>