<p id="notice"><%= notice %></p>

<div id='container'>
  <div id="container-content">
    <%= render "shared/nav_panel" %>
    <div id="main">
      <div id="main-painting">
        <h1><%=h @series.name %>&nbsp;(<%= format_datespan %>)</h1>
        <div><%= conditional_prev_link %><%= conditional_next_link %></div>

        <%= image_tag(@artwork.image,
                      :alt => @artwork.title,
                      :size => format_size(@artwork.img_width, @artwork.img_height),
                      :class => 'artwork_image hidden') %>
        <br>
        <div id="title"><%= @artwork.title %></div>

        (<div id="year"><%= @artwork_year %></div>,&nbsp;
        <div id="medium"><%= @artwork.medium %></div>,&nbsp;
        <div id="size"><%= format_dimension(@artwork.width) %>&quot;&nbsp;x&nbsp;<%= format_dimension(@artwork.height) %>&quot;</div>)
      </div>
    </div>
  </div>
</div>