<div id='container'>
  <div id="container-content">
    <div id="sidebar">
      <ul>
        <% @series_plural.reverse.each do |series| %>
            <li><%=h link_to series.name, :controller => :series, :id => series.id, :action => 'show' %></li>
        <% end %>
      </ul>
    </div>
    <div id="main">
      <div id="main-painting">
        <h1><%=h @series.name %>&nbsp;(<%= format_datespan %>)</h1>
        <div id="previous"><a href="/get_image/202/10"><img src="/images/previous.gif" alt="Previous" width="21" height="11"></a></div>

        <div id="next"><a href="/get_image/204/10"><img src="/images/next.gif" alt="Next" width="21" height="11"></a></div>

        <br>

        <%= image_tag(@artwork.img_file, :alt => @artwork.title, :size => format_size) %>

        <br>
        <div id="title"><%= @artwork.title %></div>

        (<div id="year"><%= @artwork.year.year.to_s %></div>,&nbsp;
        <div id="medium"><%= @artwork.medium %></div>,&nbsp;
        <div id="size"><%= format_dimension(@artwork.width) %>&quot;&nbsp;x&nbsp;<%= format_dimension(@artwork.height) %>&quot;</div>)
      </div>
    </div>
  </div>
</div>