<%= semantic_form_for [:admin, @series, @artworks], :html => { :multipart => true } do |f| %>
  <% if @series.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@series.errors.count, "error") %> prohibited this series from being saved:</h2>

      <ul>
      <% @series.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.inputs :name => "Series" do %>
    <%= f.input :name %>
    <%= f.input :begin_date, :as => :date_select, :start_year => 1980, :end_year => Time.now.year, :discard_day => true %>
    <%= f.input :end_date, :as => :date_select, :start_year => 1980, :end_year => Time.now.year, :discard_day => true, :include_blank => true %>
    <%= f.actions %>
  <% end %>
<% end %>
