<div id='container'>
  <div id="container-content">
    <div id="sidebar">
      <ul>
        <% @series_plural.reverse.each do |series| %>
            <li><%=h link_to series.name, :id => series.id, :action => 'show' %></li>
        <% end %>
      </ul>
    </div>
    <div id="main">
      <div id="main-content">
        <h1><%=h @series.name %>&nbsp;(<%=h @series.begin_date %>)</h1>
        <% @series.artworks.length.times do |i| %>
          <%=h @series.artworks[i].title %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<table>
  <tbody>
    <% @series.artworks.each do |artwork| %>
        <tr>
          <td><%=h artwork.title %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', :controller => 'series', :action => 'index' %>