<% if current_user %>
    <div class='adminlinks'>
      <%= link_to 'New Artwork', new_series_artwork_url(@series.id) %>&nbsp;|&nbsp;
      <%= link_to 'Edit Series', edit_series_url(@series.id) %>
    </div>
<% end %>

<div id='container'>
  <div id="container-content">
    <div id="sidebar">
      <ul>
        <% @series_plural.reverse.each do |series| %>
            <li><%=h link_to series.name, :id => series.id, :action => 'show' %></li>
        <% end %>
      </ul>
    </div>
    <div id="main">
      <div id="main-content">
        <h1><%=h @series.name %>&nbsp;(<%= format_datespan %>)</h1>
        <% @series.artworks.length.times do |i| %>
          <%= link_to image_tag(@series.artworks[i].thumbnail_file, :alt => @series.artworks[i].title, :size => "80x80"),
              :controller => :artworks, :id => @series.artworks[i].id, :series_id => @series.id, :action => :show %>
          <%=  output_for_sqrt_artworks_row(i) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
